# Copie ce fichier en .env et ajuste si besoin.

# Runtime
APP_ENV=local

# Postgres
POSTGRES_DB=homepedia
POSTGRES_USER=admin
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Mongo
# Optionnel (prioritaire sur host/port/user/password) :
# MONGO_URI=mongodb://user:pass@host:27017/?authSource=admin
MONGO_DB=homepedia_raw
MONGO_ROOT_USER=CHANGE_ME
MONGO_ROOT_PASSWORD=CHANGE_ME
MONGO_HOST=localhost
MONGO_PORT=27017

# AWS / Cloud (optionnel en local)
AWS_REGION=eu-west-3
S3_BUCKET=CHANGE_ME
DVF_S3_KEY=dvf/full.csv
SCRAPER_MAX_WORKERS=12
SPARK_MONGO_COLLECTION=communes_direct
