APP_ENV=aws
AWS_REGION=eu-west-3
MONGO_DB=homepedia_raw
POSTGRES_DB=homepedia
POSTGRES_USER=homepedia
POSTGRES_PORT=5432
S3_BUCKET=homepedia-dev-xxx
DVF_S3_KEY=dvf/full.csv
SCRAPER_MAX_WORKERS=12
SPARK_MONGO_COLLECTION=communes_direct
